[submodule "KeyCode_isa_actv3"]
	path = KeyCode_isa_actv3
	url = https://github.com/BellaTV/KeyCode_isa_actv3
[submodule "MD-note-app-vanillaJS"]
	path = MD-note-app-vanillaJS
	url = https://github.com/EliRoCas/MD-note-app-vanillaJS
[submodule "Actividad_5"]
	path = Actividad_5
	url = https://github.com/BellaTV/Actividad_5
[submodule "MD-product-list-react"]
	path = MD-product-list-react
	url = https://github.com/EliRoCas/MD-product-list-react
[submodule "Actividad_4"]
	path = Actividad_4
	url = https://github.com/BellaTV/Actividad_4.git
[submodule "Actividad_6"]
	path = Actividad_6
	url = https://github.com/BellaTV/Actividad_6.git
